* {
    box-sizing: border-box;
}


.skills {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    width: 100%;
    min-height: max(100vh, 150%);
    overscroll-behavior: contain;
    font-size: 3vmin;
    background-color: #000000;
    padding-block: 5px;
}
.skills h1 {
    font-weight: 500;
}
.center-skills {
    display: flex;
    flex-direction: column;
}
.line {
    -webkit-animation: line-expand 1s;
    animation: line-expand 1s;
    height: 2px;
    width: 30%;
    background-color: #00bf63;
    display: flex;
}
.title {
    flex: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    -webkit-animation: enter 1s;
    animation: enter 1s;
}
.skills-body {
    flex: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 20%), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
}
.content-body {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 30%), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min(200px, 30%), 1fr));
    place-items: center;
}
.left-skills {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
}

.skills-header>.header-text {
    animation: appear 1s;
}

.right-skills {
    position: sticky;
}

.skills .MuiSvgIcon-root {
    font-size: 7.5vmin;
}


/*Media queries*/

@media only screen and (max-width: 600px) {
    .skills-body {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
}



/*keyframes*/
@keyframes line-expand {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}






