@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@700&display=swap');


body {
  margin: 0;
  padding: 0;
  outline: 0;
}
.App {
  background-color: #000000;
  color: #00bf63;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 100vh;
}

/*
background-color: #000000;
color: #00bf63;

background-color: #070707;
color: #F6F2FF;

background-color: #070707;
color: #88D18A;
accent-color: 9FA2B2;
AF3800
*/